<footer class="footer">
    <div class="container text-center">
        <p>
            <span id="copyright"></span> Richard Campen. v0.4.0
        </p>
        <p>
            <a href="{{ url_for('tos') }}">Terms of Service</a>
            and
            <a href="{{ url_for('privacy') }}">Privacy Policy.</a>
            This site uses cookies.
        </p>
        <script>
            var year = new Date().getFullYear();
            var timer = document.getElementById('copyright');
            copyrightText = "&#169; " + year;
            timer.innerHTML = copyrightText;
        </script>
    </div>
</footer>
