<header>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid d-flex align-content-center">
            <div>
                <a class="navbar-brand" href="{{ url_for('index') }}">Link Shortener</a>
            </div>
            <div class="ml-auto">
                {# don't want to show sign in button on sign in page #}
                {% if request.endpoint != 'login' %}
                    {% if current_user.is_authenticated %}
                        <div>
                            <a class="btn btn-outline-secondary btn-sm" href="{{ url_for('logout') }}">
                                Log out
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </nav>
</header>
