# Project dev files
.idea
.vagrant

# log files
*.log

# node things
node_modules/
app/static/
app_old/static/
old_app/static/
webpack-manifest.json

# secrets
ansible/vault_passwords/*

# pycache files
__pycache__/

# python C files
*.pyc

# keep these!
!.keep

# hide secret local settings
local.py

# other unwanted files
*.sql
