# Project dev files
.idea
.vagrant

# log files
*.log

# node things
node_modules/
app/static/js/
app/static/css/
app/static/img/
app/static/fonts/
old_app/static/js/
old_app/static/css/
old_app/static/img/
old_app/static/fonts/
webpack-manifest.json

# secrets
ansible/vault_passwords/*

# pycache files
__pycache__/

# python C files
*.pyc

# keep these!
!.keep

# hide secret local settings
local.py
