{% extends "base.html" %}

{% block content %}

    <div class="py-16 px-8">

        <div class="border border-gray-300 rounded bg-white shadow-md">
            <form>
                <div class="flex items-center pl-12 pr-6 py-5">

                    <label for="short-url" class="text-2xl font-normal tracking-tight mr-6 opacity-80">URL:</label>
                    <input id="short-url" class="flex-grow mr-4" type="text" placeholder="https://">
                    <button class="button button-green font-base px-8 py-2" type="submit">
                        <span>Shorten</span>
                    </button>

                </div>
            </form>
        </div>

        <div class="mt-24 mb-20">
            <p class="text-white text-center text-4xl">Your shortened links will appear here</p>
        </div>

    </div>

    {# collapsed item #}

    <div class="mb-6 px-8">

        <div class="border border-gray-300 rounded bg-white shadow-md">
            <div class="flex justify-between items-center pl-12 pr-6 py-4">

                <div class="text-2xl font-normal tracking-tight opacity-80">
                    That cool document
                </div>

                <div class="text-2xl font-normal tracking-tight opacity-80">
                    <a href="#">l.campen.co/Be4df88a</a>
                </div>

                <div class="flex items-center">
                    <div>
                        <button class="circle-button border mr-2">C</button>
                    </div>

                    <div>
                        <button class="circle-button">…</button>
                    </div>
                </div>

            </div>
        </div>

    </div>

    {# expanded item #}

    <div class="mb-6 px-8">

        <div class="rounded shadow-md">

            <div class="border-l border-r border-t border-gray-300 rounded-t bg-white">
                <div class="flex justify-between items-center pl-12 pr-6 py-4">

                    <div class="text-2xl font-normal tracking-tight opacity-80">
                        That cool document
                    </div>

                    <div class="text-2xl font-normal tracking-tight opacity-80">
                        <a href="#">l.campen.co/Be4df88a</a>
                    </div>

                    <div class="flex items-center">
                        <div>
                            <button class="circle-button border mr-2">C</button>
                        </div>

                        <div>
                            <button class="circle-button">X</button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="border-l border-r border-b border-gray-300 rounded-b bg-gray-100 bg-opacity-90 border-t border-gray-300">
                <div class="flex justify-between pl-12 pr-6 py-8">

                    <div>
                        <div class="mb-4">
                            <div class="text-sm uppercase font-bold mb-2">
                                Name
                            </div>
                            <div class="text-lg font-base">
                                That cool document
                            </div>
                        </div>
                        <div>
                            <div class="text-sm uppercase font-bold mb-2">
                                URL
                            </div>
                            <div class="text-lg font-base">
                                https://www.google.com/?search=this+cool+document+i+found
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="text-sm uppercase font-bold mb-2">
                            Created
                        </div>
                        <div class="text-lg font-base">
                            2 minutes ago
                        </div>
                    </div>

                    <div class="flex items-end">
                        <div>
                            <button class="circle-button border mr-2">C</button>
                        </div>

                        <div>
                            <button class="circle-button">X</button>
                        </div>
                    </div>

                </div>
            </div>


        </div>

    </div>

    {# collapsed item #}

    <div class="mb-6 px-8">

        <div class="border border-gray-300 rounded bg-white shadow-md">
            <div class="flex justify-between items-center pl-12 pr-6 py-4">

                <div class="text-2xl font-normal tracking-tight opacity-80">
                    That cool document
                </div>

                <div class="text-2xl font-normal tracking-tight opacity-80">
                    <a href="#">l.campen.co/Be4df88a</a>
                </div>

                <div class="flex items-center">
                    <div>
                        <button class="circle-button border mr-2">C</button>
                    </div>

                    <div>
                        <button class="circle-button">…</button>
                    </div>
                </div>

            </div>
        </div>

    </div>


    {# collapsed item #}

    <div class="mb-6 px-8">

        <div class="border border-gray-300 rounded bg-white shadow-md">
            <div class="flex justify-between items-center pl-12 pr-6 py-4">

                <div class="text-2xl font-normal tracking-tight opacity-80">
                    That cool document
                </div>

                <div class="text-2xl font-normal tracking-tight opacity-80">
                    <a href="#">l.campen.co/Be4df88a</a>
                </div>

                <div class="flex items-center">
                    <div>
                        <button class="circle-button border mr-2">C</button>
                    </div>

                    <div>
                        <button class="circle-button">…</button>
                    </div>
                </div>

            </div>
        </div>

    </div>


    {# collapsed item #}

    <div class="mb-6 px-8">

        <div class="border border-gray-300 rounded bg-white shadow-md">
            <div class="flex justify-between items-center pl-12 pr-6 py-4">

                <div class="text-2xl font-normal tracking-tight opacity-80">
                    That cool document
                </div>

                <div class="text-2xl font-normal tracking-tight opacity-80">
                    <a href="#">l.campen.co/Be4df88a</a>
                </div>

                <div class="flex items-center">
                    <div>
                        <button class="circle-button border mr-2">C</button>
                    </div>

                    <div>
                        <button class="circle-button">…</button>
                    </div>
                </div>

            </div>
        </div>

    </div>


    {# collapsed item #}

    <div class="mb-6 px-8">

        <div class="border border-gray-300 rounded bg-white shadow-md">
            <div class="flex justify-between items-center pl-12 pr-6 py-4">

                <div class="text-2xl font-normal tracking-tight opacity-80">
                    That cool document
                </div>

                <div class="text-2xl font-normal tracking-tight opacity-80">
                    <a href="#">l.campen.co/Be4df88a</a>
                </div>

                <div class="flex items-center">
                    <div>
                        <button class="circle-button border mr-2">C</button>
                    </div>

                    <div>
                        <button class="circle-button">…</button>
                    </div>
                </div>

            </div>
        </div>

    </div>


    {# collapsed item #}

    <div class="mb-6 px-8">

        <div class="border border-gray-300 rounded bg-white shadow-md">
            <div class="flex justify-between items-center pl-12 pr-6 py-4">

                <div class="text-2xl font-normal tracking-tight opacity-80">
                    That cool document
                </div>

                <div class="text-2xl font-normal tracking-tight opacity-80">
                    <a href="#">l.campen.co/Be4df88a</a>
                </div>

                <div class="flex items-center">
                    <div>
                        <button class="circle-button border mr-2">C</button>
                    </div>

                    <div>
                        <button class="circle-button">…</button>
                    </div>
                </div>

            </div>
        </div>

    </div>


{% endblock %}
