$spacer: 1rem;
$spacers: (
    6: ($spacer * 4),
    7: ($spacer * 5),
    8: ($spacer * 6)
);

$theme-colors: (
    grey: #ccc,
);

$navbar-light-color: #f5f5f5;

$navbar-padding-y: 0.25rem;
$navbar-padding-x: 0.25rem;

.main-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

.text-small {
    font-size: 0.8rem;
}

.text-medium {
    font-size: 0.9rem;
}

// override some jQuery.dataTables styling
.table-responsive .row {
    margin-left: 0;
    margin-right: 0;
}

.table-responsive .row:last-child {
    margin-top: 4rem;
}

.table-responsive .row:last-child {
    margin-top: 4rem;
}

.table-responsive .btn {
    &:hover, &:focus {
        border: grey 1px solid;
        background-color: white;
    }
}

/*table*/.col-1 {
    width: 45% !important;
}

/*table*/.col-2 {
    width: 17% !important;
}

/*table*/.col-3 {
    width: 30% !important;
}

/*table*/.col-4 {
    width: 4% !important;
}

/*table*/.col-5 {
    width: 4% !important;
}

.table > tbody > tr > td {
    text-align: center !important;
    vertical-align: middle !important;
}

.debug {
    div, p, nav,
    ul,li,
    button {
        border: orange solid 1px;
        background: rgba(orange, 0.1);
    }
}
