$spacer: 1rem;
$spacers: (
    6: ($spacer * 4),
    7: ($spacer * 5),
    8: ($spacer * 6)
);

$theme-colors: (
    grey: #ccc
);

$navbar-light-color: #f5f5f5;

$navbar-padding-y: 0.25rem;
$navbar-padding-x: 0.25rem;

.main-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

.text-small {
    font-size: 0.8rem;
}

.text-medium {
    font-size: 0.9rem;
}

.btn-login {
    color: black !important;
    background-color: white !important;
    border: rgba(0, 0, 0, 0.7) 1px solid !important;

    &:hover, &:focus {
        color: white !important;
        background-color: rgba(0, 0, 0, 0.7) !important;
    }
}

// override some jQuery.dataTables styling
.table-responsive .row {
    margin-left: 0;
    margin-right: 0;
}

.table-responsive .row:last-child {
    margin-top: 4rem;
}

.table-responsive .row:last-child {
    margin-top: 4rem;
}

.table-responsive .btn {
    &:hover, &:focus {
        border: grey 1px solid;
        background-color: white;
    }
}

/*table*/.col-1 {
    width: 45% !important;
}

/*table*/.col-2 {
    width: 17% !important;
}

/*table*/.col-3 {
    width: 30% !important;
}

/*table*/.col-4 {
    width: 4% !important;
}

/*table*/.col-5 {
    width: 4% !important;
}

.table > tbody > tr > td {
    text-align: center !important;
    vertical-align: middle !important;
}

.table-header--sortable {
    text-align: center;

    &:hover, &:focus {
        cursor: pointer;
        border-top: black 1px solid;
        border-bottom: black 1px solid;
    }
}

.sorting:after,
.sorting_asc:after,
.sorting_desc:after {
    margin-left: 15px;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Pro";
    font-weight: 500;
    color: grey;
}
.sorting:after {
    content: "\f0dc";
}
.sorting_asc:after {
    content: "\f0de";
    color: black;
}
.sorting_desc:after {
    content: "\f0dd";
    color: black;
}

.debug {
    div, p, nav,
    ul,li,
    tbody, thead, tr, td, th,
    button {
        border: orange solid 1px;
        background: rgba(orange, 0.1);
    }
}
