@tailwind base;
@tailwind utilities;


@layer base {

    input[type=text] {
        @apply border;
        @apply border-black;
        @apply border-opacity-20;
        @apply rounded;
        @apply h-9;
        @apply px-3;
    }

    label {
        @apply uppercase;
        @apply font-bold;
        @apply opacity-80;
        @apply text-sm;
    }
}

.slant-wrapper {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: -75px;
    z-index: -1;
    position: relative;
}

.slant {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 70vh;
    width: 100%;
    //@apply bg-indigo-500;
    background: linear-gradient(85.55deg, #6366F1 -0.8%, rgba(99, 102, 241, 0.7) 184.12%);cd ..

    clip-path: polygon(0 0, 0 100%, 100% calc(100% - 7vw), 100% 0);
}

.slant-padding {
    padding-bottom: 75px;
}

.button {
    @apply font-bold;
    @apply text-center;
    @apply block;
    @apply rounded-full;
}

.circle-button {
    @apply rounded-full;
    @apply h-12;
    @apply w-12;
}

.button-green {
    @apply bg-green-500;
    @apply border-green-500;
    @apply text-white;
}