<!DOCTYPE html>
<html lang="en">
    <head>

        <title>Link Shortener</title>

        <link rel="stylesheet" href="static/css/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.13/clipboard.min.js"></script>
        <script src="static/js/main.js"></script>

    </head>

    <body>
        <div class="main-wrapper">

            <nav class="nav">
                <div class="nav-content">
                    <p><a href="/" class="link "><h1>Link Shortener</h1></a></p>
                </div>
            </nav>

            <div class="main-content-wrapper">
                {% block content %}
                    {% if error %}
                        <p class=error><strong>Error:</strong> {{ error }}
                    {% endif %}

                    <!-- Template content renders here -->
                {% endblock %}
            </div>

        </div>

        <footer class="footer">
            <div class="footer-content">
                <p class="version">v0.3.0</p>
                <div id='copyright'></div>
                <script>
                    var year = new Date().getFullYear();
                    var timer = document.createElement('div');
                    timer.innerHTML = "Copyright &#169; " + year + " <a href=\"http://campen.co\">Richard Campen</a>";
                    document.getElementById('copyright').appendChild(timer);
                </script>
            </div>
        </footer>

    </body>
</html>