{% extends "base.html" %}
{% block content %}

    {% if current_user.is_authenticated %}
        <div class="logout-button-wrapper">
            <!-- <a href="/logout" class="button-link">Logout</a> -->
            <button class="btn btn-default" onclick="window.location.href='/logout'">Log out</button>
        </div>

        <div class="shorten-link-form">
            <form action="" method="post" name="shorten-link">
                {{ link_form.hidden_tag() }}
                <div class="input-group">
                    {{ link_form.link(class="form-control", placeholder="Username") }}
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">Shorten</button>
                    </span>
                </div>
            </form>
        </div>
        <br/>

        <div class="link-table-container">
            {% if data is not none %}
            <!--<div class="table-responsive">-->
                <table class="table table-striped table-hover">
                    <colgroup>
                        <col class="col-1">
                        <col class="col-2">
                        <col class="col-3">
                        <col class="col-4">
                        <col class="col-5">
                    </colgroup>
                    <thead>
                        <tr>
                            {# bootstraps text-center is not inhereted by the table headers so need to add to each th #}
                            <th class="text-center">Long link</th>
                            <th class="text-center">Created</th>
                            <th class="text-center">Short link</th>
                            <th>{# blank filler #}</th>
                            <th>{# blank filler #}</th>
                        </tr>
                    </thead>
                    <tbody class="link-table-body">
                       {% for row in data %}
                            <tr id="{{ row['link_token'] }}">
                                <td><a href="{{ row['link_url'] }}">{{ row['link_name'] }}</a></td>
                                <td>{{ row['created'] | date_filter }}</td>
                                <td class="link-token">
                                    <a>{{ row['link_token'] }}</a>
                                    {% if row['private'] == true %}
                                        <i class="fa fa-fw fa-lock" aria-hidden="true"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    <button class="btn btn-default copy-button" title="copy to clipboard">
                                        <i class="fa fa-fw fa-clipboard" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <td>
                                    <form action="{{ url_for('delete_link') }}" method="post" onsubmit="return confirm('Are you sure you want to delete this link? This action can not be undone.');">
                                        <input type=hidden value="{{ row['link_token'] }}" name="link_token">
                                        <button type="submit" class="btn btn-default" title="delete link">
                                            <i class="fa fa-fw fa-trash-o" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            <!--</div>-->
            {% else %}
                <p>You don't have any links to display.</p>
            {% endif %}
        </div>


    {% else %}
        <div class="login-button-wrapper">
            <button onclick="window.location.href='/login'">Log in</button>
        </div>
    {% endif %}

{% endblock %}
