{% extends "base.html" %}
{% block content %}

    {% if current_user.is_authenticated %}
        <div class="logout-button-wrapper">
            <!-- <a href="/logout" class="button-link">Logout</a> -->
            <button class="btn btn-default" onclick="window.location.href='/logout'">Log out</button>
        </div>

        <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div class="shorten-link-form">
                <form action="{{ url_for('add_link') }}" method="post">
                    <input class="form-control" type="text" name="link">
                    <div class="form-group">
                        <input type="checkbox" name="private" id="link-private-radio" value="False">
                        <label for="link-private-radio">private</label>
                    </div>
                    <button class="btn btn-default" type="submit">Shorten</button>
                </form>
            </div>

            <br/>

            <div class="link-table-container">
                {% if data is not none %}
                <div class="table-responsive">
                    <table class="table">
                        <colgroup>
                            <col class="col-1">
                            <col class="col-2">
                            <col class="col-3">
                            <col class="col-4">
                            <col class="col-5">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Long link</th>
                                <th>Created</th>
                                <th>Short link</th>
                            </tr>
                        </thead>
                        <tbody>
                           {% for row in data %}
                                <tr id="{{ row['link_token'] }}">
                                    <td><a href="{{ row['link_url'] }}">{{ row['link_name'] }}</a></td>
                                    <td>{{ row['created'] | date_filter }}</td>
                                    <td class="link-token">
                                        <a>{{ row['link_token'] }}</a>
                                        {% if row['private'] == true %}
                                            <i class="fa fa-lock" aria-hidden="true"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <button class="copy-button">
                                            <i class="fa fa-clipboard" aria-hidden="true" title="copy to clipboard"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <form action="{{ url_for('delete_link') }}" method="post">
                                            <input type=hidden value="{{ row['link_token'] }}" name="link_token">
                                            <button type="submit" class="delete-button">
                                                <i class="fa fa-trash-o" aria-hidden="true" title="delete"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                    <p>No links to display.</p>
                {% endif %}
            </div>
        </div>
        </div>

    {% else %}
        <div class="login-button-wrapper">
            <button onclick="window.location.href='/login'">Log in</button>
        </div>
    {% endif %}

{% endblock %}
