{% from "macros.html" import webpack_watch_livereload with context %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Link Shortener</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ static_chunk('main.css') }}">

        {# data tables styling #}
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.css"/>

        {# load js: TODO: move this down to bottom of body. don't know why it was up here in the first place. #}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.13/clipboard.min.js"></script>
        <script src="{{ static_chunk('main.js') }}"></script>
        <script src="{{ static_chunk('vendors~main.js') }}"></script>
        {{ webpack_watch_livereload() }}

        {# cookie notification popup #}
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
        <script>
        window.addEventListener("load", function(){
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#000"
                    },
                "button": {
                    "background": "transparent",
                    "text": "#f1d600",
                    "border": "#f1d600"
                    }
                }
            });
        });
        </script>

    </head>

    <body>

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header pull-left">
                    <a class="navbar-brand" href="{{ url_for('index') }}">Link Shortener</a>
                </div>
                <div class="navbar-header pull-right">
                    {# don't want to show sign in button on sign in page #}
                    {% if request.endpoint != 'login' %}
                        {% if current_user.is_authenticated %}
                            <p class="navbar-btn" style="padding-right: 10px;">
                                <a type="button" class="btn btn-default" href="{{ url_for('logout') }}">
                                    Log out
                                </a>
                            </p>
                        {% else %}
                            <p class="navbar-btn">
                                <a type="button" class="btn btn-success" href="{{ url_for('login') }}">
                                    Log in
                                </a>
                            </p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </nav>

        <div class="main-wrapper">
            <div class="container-fluid" style="max-width: 95%; padding-top: 70px;">

                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        <div class="messages">
                            {% for cat, message in messages %}
                                <div class="alert alert-{{ cat if cat in ['success', 'info', 'warning', 'danger'] else 'warning' }} alert-dismissible fade in" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}

                <br/>

                {% block content %}
                    <!-- Template content renders here -->
                {% endblock %}

            </div>

            {# for help getting the footer placement correc #}
            <div class="push"></div>

        </div>

        <footer class="footer">
            <div class="container text-center">
                <p>
                    <span id="copyright"></span> Richard Campen. v0.4.0
                </p>
                <p>
                    <a href="{{ url_for('tos') }}">Terms of Service</a>
                    and
                    <a href="{{ url_for('privacy') }}">Privacy Policy.</a>
                    This site uses cookies.
                </p>
                <script>
                    var year = new Date().getFullYear();
                    var timer = document.getElementById('copyright');
                    copyrightText = "&#169; " + year;
                    timer.innerHTML = copyrightText;
                </script>
            </div>
        </footer>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    {# datatables js #}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.js"></script>

    </body>
</html>
