{% extends "base.html" %}
{% block content %}

    <div class="grid my-7">
        <div class="row justify-content-center">

            <div>
                <form action="" method="post" name="login">
                    {{ form.hidden_tag() }}
                    <div class="my-1">
                        <label for="username" class="sr-only">Username</label>
                        {{ form.username(class="form-control", placeholder="Username") }}
                    </div>
                    <div class="my-1">
                        <label for="password" class="sr-only">Password</label>
                        {{ form.password(class="form-control", placeholder="Password") }}
                    </div>
                    <button class="btn btn-primary btn-block mt-3 mb-1" type="submit">
                        <span class="font-weight-bold text-medium">Sign in</span>
                    </button>
                </form>

                <hr/>

                <div>
                    <a href="{{ url_for('google_login') }}" class="btn border-grey btn-block my-1">
                    <span class="ml-n2 mr-2">
                        <img src="static/img/logo_google.png" width="18px" height="18px">
                    </span>
                        <span class="font-weight-bold text-medium">Sign in with Google</span>
                    </a>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
